*,
::after,
::before {
   box-sizing: border-box;
}

html {
   font-family: sans-serif;
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
   display: block;
}

body {
   margin: 0;
   font-family: Arial, sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   text-align: left;
   background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
   outline: 0 !important;
}

hr {
   box-sizing: content-box;
   height: 0;
   overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin-top: 0;
   margin-bottom: 0.5rem;
}

p {
   margin-top: 0;
   margin-bottom: 1rem;
}

abbr[data-original-title],
abbr[title] {
   text-decoration: underline;
   -webkit-text-decoration: underline dotted;
   text-decoration: underline dotted;
   cursor: help;
   border-bottom: 0;
   -webkit-text-decoration-skip-ink: none;
   text-decoration-skip-ink: none;
}

address {
   margin-bottom: 1rem;
   font-style: normal;
   line-height: inherit;
}

dl,
ol,
ul {
   margin-top: 0;
   margin-bottom: 1rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
   margin-bottom: 0;
}

dt {
   font-weight: 700;
}

dd {
   margin-bottom: 0.5rem;
   margin-left: 0;
}

blockquote {
   margin: 0 0 1rem;
}

b,
strong {
   font-weight: bolder;
}

small {
   font-size: 80%;
}

sub,
sup {
   position: relative;
   font-size: 75%;
   line-height: 0;
   vertical-align: baseline;
}

sub {
   bottom: -0.25em;
}

sup {
   top: -0.5em;
}

a {
   color: #007bff;
   text-decoration: none;
   background-color: transparent;
}

a:hover {
   color: #0056b3;
   text-decoration: none;
}

a:not([href]):not([class]) {
   color: inherit;
   text-decoration: none;
}

a:not([href]):not([class]):hover {
   color: inherit;
   text-decoration: none;
}

code,
kbd,
pre,
samp {
   font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
   font-size: 1em;
}

pre {
   margin-top: 0;
   margin-bottom: 1rem;
   overflow: auto;
   -ms-overflow-style: scrollbar;
}

figure {
   margin: 0 0 1rem;
}

img {
   vertical-align: middle;
   border-style: none;
}

svg {
   overflow: hidden;
   vertical-align: middle;
}

table {
   border-collapse: collapse;
}

caption {
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
   color: #6c757d;
   text-align: left;
   caption-side: bottom;
}

th {
   text-align: inherit;
}

label {
   display: inline-block;
   margin-bottom: 0.5rem;
}

button {
   border-radius: 0;
}

button:focus {
   outline: 1px dotted;
   outline: 5px auto -webkit-focus-ring-color;
}

button,
input,
optgroup,
select,
textarea {
   margin: 0;
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
}

button,
input {
   overflow: visible;
}

button,
select {
   text-transform: none;
}

[role="button"] {
   cursor: pointer;
}

select {
   word-wrap: normal;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
   -webkit-appearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
   cursor: pointer;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
   padding: 0;
   border-style: none;
}

input[type="checkbox"],
input[type="radio"] {
   box-sizing: border-box;
   padding: 0;
}

textarea {
   overflow: auto;
   resize: vertical;
}

fieldset {
   min-width: 0;
   padding: 0;
   margin: 0;
   border: 0;
}

legend {
   display: block;
   width: 100%;
   max-width: 100%;
   padding: 0;
   margin-bottom: 0.5rem;
   font-size: 1.5rem;
   line-height: inherit;
   color: inherit;
   white-space: normal;
}

progress {
   vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
   height: auto;
}

[type="search"] {
   outline-offset: -2px;
   -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}

::-webkit-file-upload-button {
   font: inherit;
   -webkit-appearance: button;
}

output {
   display: inline-block;
}

summary {
   display: list-item;
   cursor: pointer;
}

template {
   display: none;
}

[hidden] {
   display: none !important;
}

html {
   box-sizing: border-box;
   -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

html {
   font-family: "Inter", sans-serif;
}

.main h1 {
   font-weight: bold;
   font-size: 2rem;
}

.logo {
   margin-top: 2rem;
   margin-bottom: 1rem;
}

.logo img {
   max-width: 8rem;
   width: 100%;
}

.main {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 1rem;
   padding-bottom: 3rem;
}

.templates {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   padding-top: 2rem;
   margin: 0 -1rem;
}

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(
      180deg,
      transparent 62%,
      rgba(0, 0, 0, 0.00345888) 63.94%,
      rgba(0, 0, 0, 0.014204) 65.89%,
      rgba(0, 0, 0, 0.0326639) 67.83%,
      rgba(0, 0, 0, 0.0589645) 69.78%,
      rgba(0, 0, 0, 0.0927099) 71.72%,
      rgba(0, 0, 0, 0.132754) 73.67%,
      rgba(0, 0, 0, 0.177076) 75.61%,
      rgba(0, 0, 0, 0.222924) 77.56%,
      rgba(0, 0, 0, 0.267246) 79.5%,
      rgba(0, 0, 0, 0.30729) 81.44%,
      rgba(0, 0, 0, 0.341035) 83.39%,
      rgba(0, 0, 0, 0.367336) 85.33%,
      rgba(0, 0, 0, 0.385796) 87.28%,
      rgba(0, 0, 0, 0.396541) 89.22%,
      rgba(0, 0, 0, 0.4) 91.17%
   );
   opacity: 0;
   transition: 200ms ease-in;
}

.email-prew {
   flex: 0 0 50%;
   padding: 1rem;
   width: 100%;
   max-width: 50%;
}

@media screen and (max-width: 768px) {
   .email-prew {
      flex: 0 0 100%;
      max-width: 100%;
   }
}

.email-show {
   position: absolute;
   bottom: 2rem;
   left: 50%;
   transform: translate(-50%, 0);
   background: #fff;
   border: none;
   padding: 0.5rem 1rem;
   font-weight: 600;
   border-radius: 0.25rem;
}

.email-prew-inner {
   position: relative;
   border: 1px solid #eeeeee;
   border-radius: 0.5rem;
   overflow: hidden;
}

.email-prew-inner:hover {
   cursor: pointer;
}

.email-prew-inner:hover .overlay {
   opacity: 1;
}

.email-prew-inner iframe {
   width: 100%;
   height: 350px;
   overflow: hidden;
}

.email-prew-inner iframe body {
   overflow: hidden;
   height: 350px;
}

.modal {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 500;
   overflow-x: hidden;
   overflow-y: auto;
   visibility: hidden;
   opacity: 0;
   transform: translateY(15%) scale(0.98);
   display: none;
}

.modal-overlay {
   background: rgba(0, 0, 0, 0.5);
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 100;
   visibility: hidden;
   opacity: 0;
   user-select: none;
   pointer-events: none;
   transition: 200ms ease-in;
   transition-property: opacity, visibility;
}

.modal-overlay.overlay-active {
   opacity: 1;
   visibility: visible;
}

.modal-header {
   position: absolute;
   right: 0;
   top: 0;
}

.modal-inner {
   display: flex;
   flex-wrap: wrap;
   position: relative;
}

.modal-inner iframe {
   width: 100%;
   height: 100%;
   min-height: calc(100vh - 4rem);
}

.content {
   width: 100%;
}

.close-modal {
   padding: 0.375rem;
   border-radius: 0.25rem;
   border: none;
   background: #f5f7f9;
   transition-property: background;
   transition: 200ms ease-in;
   position: absolute;
   top: 1rem;
   right: 1rem;
}

.close-modal svg {
   stroke: #222222;
   transition: 200ms ease-in;
   transition-property: stroke;
}

.close-modal:hover {
   background: #fe6963;
}

.close-modal:hover svg {
   stroke: #ffffff;
}

.modal.visible {
   visibility: visible;
   opacity: 1;
   transform: scale(1);
}

.modal-dealog {
   position: relative;
   width: auto;
   pointer-events: none;
   margin-top: 4rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   min-height: calc(100% - 4rem);
}

.modal-dealog .content {
   pointer-events: all;
}

.modal-will-active {
   display: block;
   transition: 200ms ease-out;
   transition-property: transform, opacity, visibility;
}
